*.pyc
*.pyo
.*.*.swp
.idea
*.bak
*.code-workspace
.ropeproject
tags
doc/build
libpyvinyl.egg-info
.#*.*
.readthedocs.yaml
**/notebooks/*.json
**/notebooks/*.h5
**/notebooks/tmp*
**/notebooks/.ipynb_checkpoints/
tests/*.json
tests/*.h5
tests/tmp*
dist/
build/
